/*=============== BUTTON ===============*/
.container{
    /* height: 100vh; */
    height: 20vh;
    width: 20vw;
    margin-inline: 1.5rem;
    display: grid;
    place-items: center;
    background: Black;
    
}
 
 .button{
    position: relative;
    transition: transform .4s;
    transform: scale(0.75);
 }
 
 .button__content{
       position: relative;
       background:black;
       padding: 1rem 4rem;
       border-radius: 4rem;
       border: 2px solid white;
       color: white;
       display: flex;
       align-items: center;

       overflow: hidden;
     
    }
   .button__text{
       position: relative;
       z-index: 2;
      font-size: 29.87px;
      font-weight: 600;
      line-height: 35.85px;
      letter-spacing: 0.03em;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
     
    }
   
/*    
    // Reflection shapes */
    .button__reflection_1{
       width: 8px;
       height: 120px;
       background-color: white;
       rotate: 30deg;
       position: absolute;
       inset: 0;
       top: 0;
       left: -180%;
       margin: auto;
       transition: left .6s cubic-bezier(.2, .5, .2, 1.2);
    
      
    }
    .button__reflection_1::after{
       content: '';
       width: 26px;
       height: 100%;
       background-color: white;
       position: absolute;
       top: -1rem;
       left: 1.25rem;
       z-index: 3;
    }
 
    .image{
       position: absolute;
       opacity: 0;
       transition: transform .5s, opacity .5s;
       
    }
    .button__star_1{
      width: 37.5px;
      height: 31.68px;
      top: 50%;
      left: 50%;   
       transform: rotate(-23deg) scale(.1);
      transition: transform .3s;
    }
    .button__star_2{
      width: 15.07px;
      height: 12.73px;
      top: 50%;
      left: 50%; 
      transform: rotate(-23deg) scale(.1);
      transition: transform .3s;
    }
    .button__star_3{
      width: 24.58px;
      height: 20.76px;
      top: 50%;
      left: 50%; 
      transform: rotate(-23deg) scale(.1);
      transition: transform .3s;


    }
    .button__star_4{
 
      width: 13.07px;
      height: 10.73px;
      top: 50%;
      left: 50%; 
      gap: 0px;
      opacity: 0px;
      transform: rotate(-23deg) scale(.1);
      transition: transform .3s;
    }
    .button__star_5{
      width: 37.5px;
      height: 31.68px;
      top: 50%;
      left: 50%; 
      transform: rotate(-23deg) scale(.1);
      transition: transform .3s;
   }
   .button__star_6{
      width: 12.37px;
      height: 11.85px;
      top: 50%;
      left: 50%; 
      transform: rotate(-23deg) scale(.1);
      transition: transform .3s;
   }
   .button__star_7{
      width: 19.85px;
      height: 16.77px;
      top: 50%;
      left: 50%;
      transform: rotate(-23deg) scale(.1);
      transition: transform .3s;
    }
 
    .button__shadow{
       width: 100%;
       height: 100%;
       position: absolute;
       left: 0;
       top: 0;
       background: black;
       padding: 1.25rem 3rem;
       border-radius: 4rem;
       border: 2px solid white;
       z-index: -1;
       transition: transform .3s;
    }
 
 
 .button:hover .button__shadow{
    transform: translate(-.5rem, .5rem);
 }
 

 .button:hover .button__reflection_1{
    left: 120%;
 }

 .button:hover{
       transform: rotate(-4deg) scale(0.85);
    }
  .button:hover  img{
          opacity: 1;
       }
  .button:hover .button__star_1{
          transform: scale(1.1);
          transition-delay: .1s;
          transform: translate(-41.56px, -85.78px);
       }
.button:hover   .button__star_2{
          transform: scale(1.1);
          transform: translate( -120.21px,-40px);
       }
     .button:hover      .button__star_3{
         transform: scale(1.1);
         transform: translate(70px,-76px );
      }
  .button:hover  .button__star_4{
         transform: scale(1.1);
         transform: translate(5px,18px);
         
      }
   .button:hover   .button__star_5{
         transform: scale(1.1);
         transform: translate(70px,55px)
      }
  .button:hover      .button__star_6{
         transform: scale(1.1);
         transform: translate(80px,-36px )
      }
  .button:hover  .button__star_7{
         transform: scale(1.1);
         transform: translate( -120.21px,50px);
      }

    

 
@media screen and (max-width: 500px) {
    .button__content {
      padding: 0.5rem 3rem;
      border: 1px solid white;
    }
    .button_text {
        font-size: 10px;
         line-height: 15px;
    }
    .button__reflection_1 {
        width: 4px;
        height: 80px;
    }
    .button__star_1{
        width: 27.5px;
        height: 21.68px;
    }
    .button__star_2{
        width: 8.07px;
        height: 6.73px;
    }
    .button__star_3{
        width: 14.58px;
        height: 10.76px;
    }
    .button__star_4{
 
        width: 6.07px;
        height: 5.73px;
    }
    .button__star_5{
        width: 25.5px;
        height: 18.68px;
    }
    .button__star_6{
        width: 6.37px;
        height: 6.85px;
    }
    .button__star_7{
        width: 9.85px;
        height: 8.77px;
    }
  }
