.heroText{
    text-shadow: 0.295vw 0.332vw 0px #E1067B;
    -webkit-text-stroke: 0.15vw #000000;     
}


.dashboardText{
    text-shadow: 0.295vw 0.332vw 0px #E1067B;
    -webkit-text-stroke: 0.15vw #000000;     
}






