.heroText{
    text-shadow: 0.495vw 0.432vh 0px #E1067B;
    -webkit-text-stroke: 0.15vh #000000;     
}


.dashboardText{
    text-shadow: 0.895vw 0.832vw 0px #E1067B;
    -webkit-text-stroke: 0.35vw #000000;     
}


.uploadText{
    text-shadow:  2px 2px 0px #919191;   
}


@media (min-width: 1180px) {
    .heroText{
        text-shadow: 0.295vw 0.332vw 0px #E1067B;
        -webkit-text-stroke: 0.15vw #000000;     
    }
    
    
    .dashboardText{
        text-shadow: 0.295vw 0.332vw 0px #E1067B;
        -webkit-text-stroke: 0.15vw #000000;     
    }

    .uploadText{
        text-shadow: 2px 2px 0px #919191;
    
    }



}





