@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tusker Grotesk";
  src: url("/assets/fonts/TuskerGrotesk-7600Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Oxygen";
  src: url("/assets/fonts/Oxygen-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body::-webkit-scrollbar {
  visibility: hidden;
}
