@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ahsing";
  src: url("/assets/fonts/Ahsing-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tusker Grotes";
  src: url("/assets/fonts/TuskerGrotes.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Tusker";
  src: url("/assets/fonts/TuskerGrotesk-4500Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tusker Grotesk";
  src: url("/assets/fonts/TuskerGrotesk-7600Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Oxygen";
  src: url("/assets/fonts/Oxygen-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DM Serif Display";
  src: url("/assets/fonts/DMSerifDisplay.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html,body {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

