
.cardOne {
    box-shadow: 0.526vw 0.526vw 0px #000000;
  }
  
  .cardOne .brutalist {
    animation: 6s brutalistSpin ease-out 1s infinite;
  }
  
  @keyframes brutalistSpin {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .cardTwoSpark1 {
    animation: 6s cardTwoSparkAnim ease-in-out infinite;
  }
  
  .cardTwoSpark2 {
    animation: 6s cardTwoSparkAnim ease-in-out infinite;
  }
  
  @keyframes cardTwoSparkAnim {
    0%{
      transform: translateX(0%);
    }
    5%{
      transform: translateX(280%);
    }
    10%{
      transform: translateX(210%);
    }
    15%{
      transform: translateX(260%);
    }
    20%{
      transform: translateX(230%);
    }
    25%{
      transform: translateX(240%);
    }
    45%{
      transform: translateX(240%);
    }
    50%{
      transform: translateX(240%);
    }
    55%{
      transform: translateX(-40%);
    }
    60%{
      transform: translateX(30%);
    }
    65%{
      transform: translateX(-20%);
    }
    70%{
      transform: translateX(10%);
    }
    75%{
      transform: translateX(0%);
    } 
    100%{
      transform: translateX(0%);
    }
  }
  
  .cardThreeWireframe {
    animation: 6s cardThreeWireframeAnim ease-out 1s infinite ;
  
  }
  
  @keyframes cardThreeWireframeAnim {
    0%, 10%, 100% {
      left: 0.658vw;
      top: 0.658vw;
      transform: rotateZ(0deg);
    }
    25%, 35% {
      left: 1.974vw;
      top: calc(100% - 15.671vw);
      transform: rotateZ(40deg); 
    }
    50%, 60% {
      left: calc(100% - 18.987vw);
      top: calc(100% - 15.671vw);
      transform: rotateZ(40deg);
    }
    75%, 85% {
      left: calc(100% - 18.987vw);
      top: 0.658vw;
      transform: rotateZ(80deg);
    }
  }
  
  
  .cardSixBrutalist{
    animation: 6s cardSixBrutalistAnim ease-out 1s infinite;
  }
  
  @keyframes cardSixBrutalistAnim {
    0%, 100%{
      transform: rotateZ(0deg);
    } 
    25%, 75%{
      transform: rotateZ(-45deg);
    }
    50%{
      transform: rotateZ(0deg);
    }
  }
  
  
  @keyframes wiggleTop {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-5.645vw);
    }
    50% {
      transform: translateY(-3.789vw);
    }
    75% {
      transform: translateY(-4.053vw);
    }
    100% {
      transform: translateY(-3.987vw);
    }
  }
  
  @keyframes wiggleDown {
    0% {
      transform: translateY(-0.987vw);
    }
    25% {
      transform: translateY(0.658vw);
    }
    50% {
      transform: translateY(-0.197vw);
    }
    75% {
      transform: translateY(0.066vw);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes wiggleLeft {
      0%
      { transform: translateX(0) 
      }
      25%{ transform: translateX(-15.579vw) 
      }
      50% { transform: translateX(-11.947vw) 
      }
      75% { transform: translateX(-13.934vw) 
      }
      100% { transform: translateX(-13.605vw) 
      }
  
  }
  
  @keyframes wiggleRight {
    0%
    { transform: translateX(-4.605vw) 
    }
    25%{ transform: translateX(1.974vw) 
    }
    50% { transform: translateX(-0.658vw) 
    }
    75% { transform: translateX(0.329vw) 
    }
    100% { transform: translateX(0) 
    }
  
  }
  
  .card4Container:hover .svgContainer {
    animation: wiggleLeft 1.5s ease-out forwards;
  }
  
  .card4Container:not(:hover) .svgContainer {
    animation: wiggleRight 1.5s ease-out forwards;
  }
  
  
  
  .card8Container:hover .svgIcon {
    animation: wiggleTop 1s ease-out forwards;
  }
  
  .card8Container:not(:hover) .svgIcon {
    animation: wiggleDown 1s ease-out forwards;
  }
  
  /* Soon Text Animation */
  .comingSoonBorders {
    font-family: "Ahsing";
    text-shadow: 0.555vw 0.332vw 0px #000000;
    -webkit-text-stroke: 0.397vw #000000;     
    animation: moveUpDown 6s ease-in-out infinite;
    animation-play-state: running;
    display: inline-block;
  }
  
  .comingSoonBorders:hover {
    font-family: "Tusker Grotes";
    animation: none;
  }
  
  .comingSoonBorders:not(:hover) {
    animation-play-state: running;
  }
  
  
  @keyframes moveUpDown {
    0%, 100% {
      text-shadow: 0.655vw 0.432vw 0px #000000;
      transform: translateY(0px);
    }
    50% {
      text-shadow: 0.655vw 0.432vw 0px transparent;
      transform: translateY(2.632vw);
    }
  }
  /* Soon Text Animation */
  
  
  /* ming Text Animation */
  .nText {
    text-shadow: 0.895vw 0.632vw 0px #000000;
    -webkit-text-stroke: 0.197vw #000000; 
    font-family: "Ahsing";    
    animation: nTextAnim 6s ease-in-out infinite;
    animation-play-state: running;
    display: inline-block;
  }
  
  .nText:hover {
    font-family: "Tusker Grotes";
    animation: none;
  }
  
  .gText {
    font-family: "Ahsing";
    text-shadow: 0.555vw 0.332vw 0px #000000;
    -webkit-text-stroke: 0.397vw #000000;     
    animation: gTextAnim 6s ease-in-out infinite;
    animation-play-state: running;
    display: inline-block;
  }
  
  .gText:hover {
    font-family: "Tusker Grotes";
    animation: none;
  }
  
  
  @keyframes nTextAnim {
    0%, 100% {
      text-shadow: 0.555vw 0.332vw 0px transparent;
    }
    50% {
      text-shadow: 0.555vw 0.332vw 0px #000000;
      scale: 1.2;
    }
  }
  @keyframes gTextAnim {
    0%, 100% {
      text-shadow: 0.555vw 0.332vw 0px #000000;
      transform: translateY(1.316vw);
      scale: 1.2;
    }
    50% {
      text-shadow: 0.555vw 0.332vw 0px transparent;
      transform: translateY(1.316vw);
      scale: 1;
      
    }
  
    /* ming Text Animation */
    
  }
  
  
  /* cm Text Animation */
  .cText {
    text-shadow: 0.895vw 0.632vw 0px #000000;
    -webkit-text-stroke: 0.397vw #000000;  
    animation: cTextAnim 6s ease-in-out infinite;
    animation-play-state: running;
    display: inline-block;
  }
  
  @keyframes cTextAnim {
    0%, 100% {
      text-shadow: 0.555vw 0.332vw 0px transparent;
      transform: translateY(-3.316vw);
      scale: 1.2;
    }
    50% {
      text-shadow: 0.555vw 0.332vw 0px #000000;
      transform: translateY(-3.316vw);
      scale: 1;
     
    }
    /* ming Text Animation */ 
  }
  
    /* Media Queries */ 
    /* Media Queries */ 
    /* Media Queries */ 
    /* Media Queries */ 
    /* Media Queries */ 
  
  @media (min-width: 1180px) {
  
  .cardOne {
    box-shadow: 0.526vw 0.526vw 0px #000000;
  }
  
  .cardOne .brutalist {
    animation: 6s brutalistSpin ease-out 1s infinite;
  }
  
  @keyframes brutalistSpin {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .cardTwoSpark1 {
    animation: 6s cardTwoSparkAnim ease-in-out infinite;
  }
  
  .cardTwoSpark2 {
    animation: 6s cardTwoSparkAnim ease-in-out infinite;
  }
  
  
  @keyframes cardTwoSparkAnim {
    0%{
      transform: translateX(0%);
    }
    5%{
      transform: translateX(230%);
    }
    10%{
      transform: translateX(160%);
    }
    15%{
      transform: translateX(210%);
    }
    20%{
      transform: translateX(180%);
    }
    25%{
      transform: translateX(190%);
    }
    45%{
      transform: translateX(190%);
    }
    50%{
      transform: translateX(190%);
    }
    55%{
      transform: translateX(-40%);
    }
    60%{
      transform: translateX(30%);
    }
    65%{
      transform: translateX(-20%);
    }
    70%{
      transform: translateX(10%);
    }
    75%{
      transform: translateX(0%);
    } 
    100%{
      transform: translateX(0%);
    }
  }
  
  .cardThreeWireframe {
    animation: 6s cardThreeWireframeAnim ease-out 1s infinite ;
  
  }
  
  @keyframes cardThreeWireframeAnim {
    0%, 10%, 100% {
      left: 0.658vw;
      top: 0.658vw;
      transform: rotateZ(0deg);
    }
    25%, 35% {
      left: 1.974vw;
      top: calc(100% - 9.671vw);
      transform: rotateZ(40deg); 
    }
    50%, 60% {
      left: calc(100% - 10.987vw);
      top: calc(100% - 9.671vw);
      transform: rotateZ(40deg);
    }
    75%, 85% {
      left: calc(100% - 10.987vw);
      top: 0.658vw;
      transform: rotateZ(80deg);
    }
  }
  
  @keyframes wiggleLeft {
    0%
    { transform: translateX(0) 
    }
    25%{ transform: translateX(-6.579vw) 
    }
    50% { transform: translateX(-3.947vw) 
    }
    75% { transform: translateX(-4.934vw) 
    }
    100% { transform: translateX(-4.605vw) 
    }
  
  }
  
  @keyframes wiggleRight {
  0%
  { transform: translateX(-4.605vw) 
  }
  25%{ transform: translateX(1.974vw) 
  }
  50% { transform: translateX(-0.658vw) 
  }
  75% { transform: translateX(0.329vw) 
  }
  100% { transform: translateX(0) 
  }
  
  }
  
  @keyframes wiggleTop {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-1.645vw);
    }
    50% {
      transform: translateY(-0.789vw);
    }
    75% {
      transform: translateY(-1.053vw);
    }
    100% {
      transform: translateY(-0.987vw);
    }
  }
  
  @keyframes wiggleDown {
    0% {
      transform: translateY(-0.987vw);
    }
    25% {
      transform: translateY(0.658vw);
    }
    50% {
      transform: translateY(-0.197vw);
    }
    75% {
      transform: translateY(0.066vw);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .card4Container:hover .svgContainer {
  animation: wiggleLeft 1.5s ease-out forwards;
  }
  
  .card4Container:not(:hover) .svgContainer {
  animation: wiggleRight 1.5s ease-out forwards;
  }
  
  .card8Container:hover .svgIcon {
    animation: wiggleTop 1s ease-out forwards;
  }
  
  .card8Container:not(:hover) .svgIcon {
    animation: wiggleDown 1s ease-out forwards;
  }
  
  /* Soon Text Animation */
  .comingSoonBorders {
    font-family: "Ahsing";
    text-shadow: 0.395vw 0.132vw 0px #000000;
    -webkit-text-stroke: 0.197vw #000000;     
    animation: moveUpDown 6s ease-in-out infinite;
    animation-play-state: running;
    display: inline-block;
  }
  
  .comingSoonBorders:hover {
    font-family: "Tusker Grotes";
    animation: none;
  }
  
  .comingSoonBorders:not(:hover) {
    animation-play-state: running;
  }
  
  
  /* cm Text Animation */
  .cText {
    text-shadow: 0.395vw 0.132vw 0px #000000;
    -webkit-text-stroke: 0.197vw #000000;  
    animation: cTextAnim 6s ease-in-out infinite;
    animation-play-state: running;
    display: inline-block;
  }
  
  @keyframes cTextAnim {
    0%, 100% {
      text-shadow: 0.395vw 0.132vw 0px transparent;
      transform: translateY(1.316vw);
      scale: 1.2;
    }
    50% {
      text-shadow: 0.395vw 0.132vw 0px #000000;
      transform: translateY(1.316vw);
      scale: 1;
     
    }
    /* ming Text Animation */ 
  }
  
  
  .nText {
    text-shadow: 0.295vw 0.132vw 0px #000000;
    -webkit-text-stroke: 0.197vw #000000; 
    font-family: "Ahsing";    
    animation: nTextAnim 6s ease-in-out infinite;
    animation-play-state: running;
    display: inline-block;
  }
  
  .nText:hover {
    font-family: "Tusker Grotes";
    animation: none;
  }
  
  @keyframes nTextAnim {
    0%, 100% {
      text-shadow: 0.295vw 0.132vw 0px transparent;
    }
    50% {
      text-shadow: 0.295vw 0.132vw 0px #000000;
      scale: 1.2;
    }
  }
  
  .gText {
    font-family: "Ahsing";
    text-shadow: 0.395vw 0.132vw 0px #000000;
    -webkit-text-stroke: 0.197vw #000000;     
    animation: gTextAnim 6s ease-in-out infinite;
    animation-play-state: running;
    display: inline-block;
  }
  
  .gText:hover {
    font-family: "Tusker Grotes";
    animation: none;
  }
  
  @keyframes gTextAnim {
    0%, 100% {
      text-shadow: 0.395vw 0.132vw 0px #000000;
      transform: translateY(1.316vw);
      scale: 1.2;
    }
    50% {
      text-shadow: 0.395vw 0.132vw 0px transparent;
      transform: translateY(1.316vw);
      scale: 1;
      
    }
  }
  
  @keyframes moveUpDown {
    0%, 100% {
      text-shadow: 0.395vw 0.132vw 0px #000000;
      transform: translateY(0px);
    }
    50% {
      text-shadow: 0.395vw 0.132vw 0px transparent;
      transform: translateY(2.632vw);
    }
  }
  
  
  
  
  
  }
  
  
  
  