.scrollBarOrange {
  width: var(--progress);
  /* width: calc(var(--progress) + 5rem); */
}
.scrollBar {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
  z-index: 1000;
}
@supports (-moz-appearance: none) {
  .scrollBar {
    left: 2rem;
  }
  .container {
    left: 78%;
  }
}
.scrollBar::-webkit-slider-thumb {
  position: relative;
  transform: translateY(45%) rotate(270deg);
  -webkit-appearance: none;
  appearance: none;
  height: 4vw;
  width: 4vw;
  border: 0.3vw solid #ff676b;
  border-radius: 50%;
  cursor: pointer;
  background-image: url("/assets/navbar/incand-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.8vw;
  z-index: 100;
}

.scrollBarHome::-webkit-slider-thumb {
  background-color: #9747ff;
}
.scrollBarAbout1::-webkit-slider-thumb {
  background-color: #e23692;
}
.scrollBarAbout2::-webkit-slider-thumb {
  background-color: #00e9f4;
}

.scrollBarSponsors::-webkit-slider-thumb {
  background-color: #b7dc68;
}
.scrollBarMerch::-webkit-slider-thumb {
  background-color: #3c0fd5;
}

.scrollBarFooter::-webkit-slider-thumb {
  background-color: black;
}

.scrollBar::-moz-range-thumb {
  position: absolute;
  z-index: 50;
  -webkit-appearance: none;
  appearance: none;
  height: 3rem;
  width: 3rem;
  -webkit-transform: translateY(0.5rem) translateX(-2rem) rotateZ(-90deg);
  border: 4px solid #ff676b;
  border-radius: 50%;
  cursor: pointer;
  background-image: url("/assets/navbar/incand-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15;
}
.scrollBarHome::-moz-range-thumb {
  background-color: #9747ff;
}
.scrollBarAbout1::-moz-range-thumb {
  background-color: #e23692;
}
.scrollBarAbout2::-moz-range-thumb {
  background-color: #00e9f4;
}

.scrollBarSponsors::-moz-range-thumb {
  background-color: #b7dc68;
}
.scrollBarMerch::-moz-range-thumb {
  background-color: #3c0fd5;
}
.scrollBarFooter::-moz-range-thumb {
  background-color: black;
}
